@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(variaveis.$corDeFundo, .97);
    transition: background-color .5s ease;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;

        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
            }
        }
    }

    &__container {
        height: 80px;
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px) {
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 100%;
        height: 100%;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;

        @media (max-width: 767px) {
            max-width: 65%;
            max-height: 75%;
            margin-top: 10px;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;

        &__item {
            margin: 5px;
            transition: opacity .5s ease;
            transition: all ease .3s;

            @media (max-width: 767px) {
                
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .button {
        height: 50px;

        @media (max-width: 767px) {
            font-size: 12px;
            padding: 6px 9px;
            height: 35px;
            letter-spacing: 0;
        }
    }
}

.hidden {
    visibility: hidden;
}