@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../../dist/images/hero_guardioes.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    @media (max-width: 767px) {
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 30vh;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 30vh;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 100%;

        &__branding {
            max-width: 25vw;
            margin: 0 auto 38px;
            margin-left: 65vw;

            @media (max-width: 767px) {
                max-width: 180px;
            }
        }

        .title--small {
            margin-bottom: 64px;
        }
    }

}