@use 'variaveis';

.posters {
    padding: 5.6vw;
    padding-top: 0;
    padding-bottom: 2.8vw;

    @media (max-width: 767px) {
        padding-bottom: 25vw;
        padding-left: 20vw;
    }

    &__list {
        padding-left: 7.5vw;
        display: grid;
        margin-top: 44px;
        grid-template-columns: 1fr 1fr 1fr;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            padding-top: 0;
            margin-top: 5px;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            grid-template-columns: 1fr 1fr;
            padding-top: 0;
            margin-top: 5px;
            margin-left: 40px;
        }  


        &__item {
            padding-bottom: 3.25vw;
            padding-top: 3.25vw;

            &--meddium {
                padding-top: 0;

                @media (max-width: 767px) {
                    padding-top: 15px;
                }

                @media (min-width: 768px) and (max-width: 1023px) {
                    padding-top: 15px;
                } 
            }

            &--small {
                padding-top: 70px;
                padding-bottom: 0;

                @media (max-width: 767px) {
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
            }

            &--very-small {
                padding-bottom: 0;
                padding-top: 100px;

                @media (max-width: 767px) {
                    padding-top: 15px;
                }

                @media (min-width: 768px) and (max-width: 1023px) {
                    padding-top: 15px;
                }  
            }

            
            img{
                max-width: 70%;
                border-radius: 16px;
                transition: all ease .3s;

                @media (min-width: 768px) and (max-width: 1023px) {
                    width: 100%;
                } 
                
                &:hover {
                    transform: scale(1.3);

                    @media (max-width: 767px) {
                        transform: scale(1.15);
                    }
                    
                    @media (min-width: 768px) and (max-width: 1023px) {
                        transform: scale(1.1);                        
                    }  
                }
            }
        }
    }
}