@use 'variaveis';

.shows {
    padding: 5.6vw;
    // padding-top: 12vw;
    min-height: 30vw;

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &--is-active {
            display: grid;
        }

        &__item {

            img{
                max-width: 100%;
                border-radius: 6px;
                transition: all ease .3s;
                
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 20px;
        }

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            transition: all ease .3s;

            &:hover {
                transform: scale(1.1);
            }
            
            // &--is-active {
            //     border-color: green;
            // }
            
            // @media (max-width: 768px) {
            //     font-size: 16px;
            // }

        }
    }
}