$corDeFundo: #151a2e;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corTextoBotao: #dcdf5c;
$corDeFundoBotaoPrimario: #aa3636;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;